.c-text-on-light {
    color: $text-on-light;
}

.c-text-on-light-subdued {
    color: $text-on-light-subdued;
}

.c-text-on-yellow {
    color: $text-on-yellow;
}

.c-text-on-yellow-subdued {
    color: $text-on-yellow-subdued;
}