.wrapper {
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (min-width:760px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.img-scale {
    max-width: 100%;
    height: auto;
}