.title {
    @extend %title;
};

.subtitle {
    @extend %subtitle;
};

.headline {
    @extend %headline;
};

.subheadline {
    @extend %subheadline;
};

.large-body {
    @extend %large-body;
};

.body,
p {
    @extend %body;
};

.small-body {
    @extend %small-body;
};

.normal {
    @extend %normal;
};

.book {
    @extend %book;
};

.bold {
    @extend %bold;
};

.display {
    @extend %display;
    @extend %book;

    .wf-moret-n3-loading & {
        font-family: Georgia, serif;
        letter-spacing: -0.1em;
        opacity: 0;
    }

    .wf-moret-n3-active & {
        transition: opacity 200ms ease-out;
    }
};

.mono {
    @extend %mono;
};

.ta-center { text-align: center; }