.title {
    @extend %title;
};

.subtitle {
    @extend %subtitle;
};

.headline {
    @extend %headline;
};

.subheadline {
    @extend %subheadline;
};

.large-body {
    @extend %large-body;
};

.body,
p {
    @extend %body;
};

.small-body {
    @extend %small-body;
};

.normal {
    @extend %normal;
};

.book {
    @extend %book;
};

.bold {
    @extend %bold;
};

.display {
    @extend %display;
    @extend %book;

    &.foit {
        opacity: 0;
        font-family: Georgia, serif;
        letter-spacing: -0.1em;

        .wf-moret-n3-active &,
        .wf-moret-n3-inactive & {
            @extend %display;
            transition: opacity 200ms ease-out;
            opacity: 1;
            letter-spacing: -1px;
        }
    }
};

.mono {
    @extend %mono;
}

.label {
    @extend %label;
}

.ta-center { text-align: center; }