@import "../../styles/base";

.case-study {
    > * + * {
        margin-top: 4rem;
    }

    .heading-wrapper + .text-wrapper {
        margin-top: 0.5rem;
    }

    .text-wrapper + .text-wrapper {
        margin-top: 1rem;
    }

    .text-wrapper + .list-wrapper {
        margin-top: 0.75rem;
    }

    figcaption {
        @extend %small-body;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 0.5rem;
        text-align: center;
        color: $text-on-light-subdued;
    }

    @media screen and (min-width: 760px) {
        > * + * {
            margin-top: 8rem;
        }

        .heading-wrapper + .text-wrapper {
            margin-top: 1rem;
        }

        .text-wrapper + .text-wrapper {
            margin-top: 2rem;
        }
    }
}

.case-study__text {
    @extend %body;
    max-width: 47.5rem;
    margin-left: auto;
    margin-right: auto;
    line-height: $line-height-l;

    blockquote & {
        @extend %subheadline;
        line-height: $line-height-l;
        letter-spacing: -1px;
        color: $text-on-light-subdued;
    }
}

.case-study__list-item + .case-study__list-item {
    margin-top: 0.75rem;
}

.case-study-text-link {
    color: $primary;
    text-decoration: none;
}

.case-study__body-ol,
.case-study__body-ul {
    padding-left: 1.5rem;

    li {
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: -1.5rem;
            color: $text-on-light-subdued;
        }
    }
}

.case-study__body-ol {
    counter-reset: counter;

    li {
        counter-increment: counter;

        &:before {
            content: counter(counter);
        }
    }
}

.case-study__body-ul {
    li {
        &:before {
            content: "–";
        }
    }
}

.case-study-footer {
    padding: 1rem;
    background-color: $clay;
    color: $bg;

    @media screen and (min-width: 760px) {
        padding: 4rem;
    }
}

.case-study-footer__home-link {
    @extend %body;
    @extend %bold;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-decoration: none;

    > span { margin-left: 0.25rem; }
}

.case-study-footer__mailto-link {
    @extend %body;
    display: inline-block;
}

.case-study-footer__mailto-link,
.case-study-footer__social-links,
.case-study-footer__copyright-text {
    margin-top: 1rem;
}

.case-study-footer__mailto-link,
.case-study-footer__social-links {
    @media screen and (min-width: 760px) {
        margin-top: 0;
    }
}

.case-study-footer__copyright-text {
    @extend %small-body;
    opacity: 0.8;

    @media screen and (min-width: 760px) {
        margin-top: 4rem;
    }
}

.case-study-footer__links,
.case-study-footer__copyright-text {
    text-align: center;
}

.case-study-footer__links {
    display: flex;
    flex-flow: column;
    align-items: center;

    @media screen and (min-width: 760px) {
        flex-flow: row;
        justify-content: space-between;
    }
}