@import "../styles/base";

.landing-page {
    background-color: $bg;
}

.landing-page__hero {
    padding: 2rem 1.5rem;

    @media screen and (min-width: 760px) {
        padding-bottom: 4rem;
    }
}

.landing-page__hero-inner {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
}

.landing-page__hero-info {
    display: flex;
    flex-flow: column;

    @media screen and (min-width: 370px) {
        flex-flow: row;
        justify-content: space-between;
    }
}

.landing-page__hero-mailto {
    margin-top: 0.25rem;

    @media screen and (min-width: 370px) {
        margin-top: 0;
    }
}

.landing-page__hero-main {
    padding-top: 1.5rem;

    @media screen and (min-width: 760px) {
        padding-top: 3rem;
    }
}

.landing-page__hero {
    background-color: $bg-yellow;
}



.case-study-grid {
    padding: 1rem;

    > * {   
        max-width: 46rem;
        margin-left: auto;
        margin-right: auto;

        + * {
            padding-top: 1rem;
        }
    }

    @media screen and (min-width: 500px) {
        padding: 1.5rem;

        > * + * { padding-top: 1.5rem; }
    }

    @media screen and (min-width: 1000px) {
        padding-top: 4rem;
    }
}

.case-study-summary + .case-study-summary {
    padding-top: 2rem;

    @media screen and (min-width: 1000px) {
        padding-top: 4rem;
    }
}

.case-study-summary__link {
    display: inline-block;
    line-height: 0;
    text-decoration: none;
}

.case-study-summary__link:hover {
    .case-study-summary__image {
        transform: scale(1.025);
    }

    .case-study-summary__text {
        opacity: 0.75;
    }
}

.case-study-summary__image {
    max-width: 100%;
    height: auto;
    line-height: 0;
    box-shadow: 0 2px 24px rgba(0,0,0,0.1);
    transition: transform 250ms ease;
}

.case-study-summary__text {
    margin: 1rem 0;
}

.case-study-summary__title,
.case-study-summary__description {
    display: inline;
}

.case-study-summary__tags {
    margin-top: 0.5rem;
}

.landing-page-about {
    padding: 1rem;
    background-color: $text-on-light;
    color: $bg;

    @media screen and (min-width: 500px) {
        padding: 1.5rem;
    }

    @media screen and (min-width: 760px) {
        padding-top: 4rem;
    }
}

.landing-page-about__inner {
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
}

.landing-page-about__subtitle,
.landing-page-about__body,
.landing-page-about__services-list-wrapper + .landing-page-about__services-list-wrapper,
.landing-page-about__social {
    padding-top: 1.5rem;
}

.landing-page-about__services,
.landing-page-about__contact {
    padding-top: 3rem;
}

.landing-page-about__body,
.landing-page-about__services-list-item {
    opacity: 0.8;
}

.landing-page-about__services {
    display: flex;
    flex-flow: column;

    @media screen and (min-width: 540px) {
        flex-flow: row;
    }
}


.landing-page-about__services-list-wrapper + .landing-page-about__services-list-wrapper {
    @media screen and (min-width: 540px) {
        padding-top: 0;
        margin-left: 1.5rem;
    }

    @media screen and (min-width: 760px) {
        margin-left: 4rem;
    }
}

.landing-page-about__services-list,
.landing-page-about__services-list-item + .landing-page-about__services-list-item {
    margin-top: 0.5rem;
}

.landing-page-about__contact-title,
.landing-page-about__social-title {
    margin-bottom: 0.5rem;
}

.social-icon-link {
    display: inline-block;

    + .social-icon-link {
        margin-left: 0.5rem;
    }
}

.landing-page-about__copyright {
    margin-top: 3rem;
}