@import "../styles/base";

.landing-page__hero,
.landing-page__content {
    padding: 1.5rem;

    > * {
        max-width: 42.5rem;
        margin-left: auto;
        margin-right: auto;

        + * {
            padding-top: 1.5rem;
        }
    }
}

.landing-page__hero {
    background-color: $bg-yellow;
    color: $text-on-yellow;

    @media screen and (min-width: 1000px) {
        position: fixed;
        max-width: 26rem;
        min-height: 100vh;
    }
}

.landing-page__content {
    @media screen and (min-width: 1000px) {
        margin-left: 26rem;

        > * {
            max-width: 48rem;
        }
    }
}

.social-icon-link + .social-icon-link {
    margin-left: 0.5rem;
}