$bg: #F0F1F5;
$bg-light: #fff;
$bg-yellow: #f9cc71;
$dark-bg: #2B313D;

$text-on-light: #2B313D;
$text-on-light-subdued: #5A6170;
$text-on-light-dark: #191D24;
$text-on-yellow: #3D392B;
$text-on-yellow-subdued: #736B50;
$text-on-dark: #F0F1F5;
$text-on-dark-subdued: #A1A7B2;

$primary: #4A5DBA;

$clay: #B2726B;