$ff-base: 'National 2', Helvetica Neue, Arial, sans-serif;
$ff-display: moret, Georgia, serif;
$ff-mono: 'etc_trispaceregular_narrow', SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

%book {
    font-weight: 300;
}

%normal {
    font-weight: 400;
}

%bold {
    font-weight: 500;
}

%display {
    font-family: $ff-display;
}

%mono {
    font-family: $ff-mono;
}

%label {
    text-transform: uppercase;
    letter-spacing: 1px;
}